<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>천재교육 학습백과 </title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<link href="./common/css/m.css" rel="stylesheet">
	<script type="text/javascript" src="./common/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="./common/js/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="./common/js/iscroll.js"></script>
	<script type="text/javascript" src="./common/js/common.js"></script>
</head>
<body>

<!-- wrap -->
<section id="wrap">
	<!-- header -->
	<header>
		<article class="mHeader">
			<h1><img src="./images/main/logo.jpg" alt="천재학습백과 공유저작물"></h1>
		</article>
		<nav>
			<a class="page" href="./heritage_theme.html" target="_self">문화유산</a>
			<a href="#" target="_self">생물정보</a>
			<a href="./intro_page.html" target="_self">공유저작물 소개</a>
			<a href="./uci_page.html" target="_self">UCI 서비스 소개</a>
		</nav>
		<div class="subNav">
			<a class="focus" href="#" target="_self">테마별 문화유산</a>
			<a href="#" target="_self">학습자료</a>
			<a href="#" target="_self">문화유산 검색</a>
		</div>
		<div class="subTit">
			<figure><img src="./images/sub/bg_menuCulture.png" alt=""></figure>
		</div>
	</header>
	<!--// header -->

	<!-- subwrap -->
	<section class="contents">
		<header>
			<h1>테마 별 문화유산</h1>
		</header>
		<article>
			<div class="sorting">
				<div><span>학교구분</span>
					<select name="" id="">
						<option value="">전체</option>
						<option value="">전체</option>
						<option value="">전체</option>
						<option value="">전체</option>
						<option value="">전체</option>
					</select>
				</div>

				<div><span>정렬</span>
					<select class="part3" name="" id="">
						<option value="">이름</option>
						<option value="">이름</option>
						<option value="">이름</option>
					</select>
					<select class="part3" name="" id="">
						<option value="">조회수</option>
						<option value="">조회수</option>
						<option value="">조회수</option>
					</select>
					<select class="part3" name="" id="">
						<option value="">등록일</option>
						<option value="">등록일</option>
						<option value="">등록일</option>
					</select>
				</div>
			</div>

			<ul class="themeT">
				<li>
					<a href="heritage_list.html" target="_self"><p>초등학생이 꼭 알아야 할 국보 10가지</p>
					<span>숭례문, 진흥왕 순수비, 원각사지 10층 석탑…</span></a>
				</li>
				<li>
					<a href="heritage_list.html" target="_self"><p>중학교 1학년 역사교과서에 나오는 문화재</p>
					<span>숭례문, 진흥왕 순수비, 원각사지 10층 석탑…</span></a>
				</li>
				<li>
					<a href="heritage_list.html" target="_self"><p>광복 70주년 독립운동 문화유산</p>
					<span>독립문, 독립신문, 아우내 3.1운동 독립사적지..</span></a>
				</li>
				<li>
					<a href="heritage_list.html" target="_self"><p>초등학생이 꼭 알아야 할 국보 10가지</p>
					<span>숭례문, 진흥왕 순수비, 원각사지 10층 석탑…</span></a>
				</li>
				<li>
					<a href="heritage_list.html" target="_self"><p>중학교 1학년 역사교과서에 나오는 문화재</p>
					<span>숭례문, 진흥왕 순수비, 원각사지 10층 석탑…</span></a>
				</li>
			</ul>
			<div class="paging">
				<span class="prev"><a href="#" target="_self">이전 보기</a></span>
				<a href="#" class="now" target="_self">1</a>
				<a href="#" target="_self">2</a>
				<a href="#" target="_self">3</a>
				<a href="#" target="_self">4</a>
				<a href="#" target="_self">5</a>
				<span class="next"><a href="#" target="_self">다음 보기</a></span>
			</div>
		</article>
	</section>
	<!--// subwrap -->

	<!-- footer -->
	<footer id="footer">
		<h1><img src="./images/main/logo_footer.png" alt="천재교육"></h1>
		<span>(주)천재교육</span>
		<span>대표 : 최용준</span>
		<span>주소 : 서울특별시 금천구 가산로 9길 54</span><br />
		<span>고객만족센터 : 1577-7609</span>
		<span>사업자등록번호 : 119-81-19350</span><br />
		<span>통신판매신고번호 : 제 18-439호</span>
		<span>부가통신사업신고번호 : 016712</span><br />
		<span class="copyright">COPYRIGHT ⓒ 2015 BY CHUNJAE CO.LTD  ALL RIGHTS RESERVED.</span>
	</footer>
	<!-- footer -->
</section>
<!--// wrap -->

</body>
</html>