<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>천재교육 학습백과 </title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<link href="./common/css/m.css" rel="stylesheet">
	<script type="text/javascript" src="./common/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="./common/js/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="./common/js/iscroll.js"></script>
	<script type="text/javascript" src="./common/js/common.js"></script>
</head>
<body>

<!-- wrap -->
<section id="wrap">
	<!-- header -->
	<header>
		<article class="mHeader">
			<h1><img src="./images/main/logo.jpg" alt="천재학습백과 공유저작물"></h1>
		</article>
		<nav>
			<a class="page" href="./heritage_theme.html" target="_self">문화유산</a>
			<a href="#" target="_self">생물정보</a>
			<a href="./intro_page.html" target="_self">공유저작물 소개</a>
			<a href="./uci_page.html" target="_self">UCI 서비스 소개</a>
		</nav>
		<div class="subNav">
			<a href="#" target="_self">테마별 문화유산</a>
			<a href="#" target="_self">학습자료</a>
			<a class="focus" href="#" target="_self">문화유산 검색</a>
		</div>
		<div class="subTit">
			<figure><img src="./images/sub/bg_menuCulture.png" alt=""></figure>
		</div>
	</header>
	<!--// header -->

	<!-- subwrap -->
	<section class="contents">
		<header>
			<h1>문화유산 검색</h1>
		</header>
		<article>

			<div class="searchBox">
				<dl>
					<dt>문화재검색</dt>
					<dd><select name="" id="" class="select">
							<option value="지정종목">지정종목</option>
							<option value="지정종목">지정종목</option>
							<option value="지정종목">지정종목</option>
							<option value="지정종목">지정종목</option>
							<option value="지정종목">지정종목</option>
						</select><br />
						<input type="text" class="text" />
					</dd>


					<dt>시대</dt>
					<dd><select name="" id="" class="select">
							<option value="전체">전체</option>
							<option value="시대">시대</option>
							<option value="시대">시대</option>
							<option value="시대">시대</option>
							<option value="시대">시대</option>
						</select>
					</dd>

					<dt>지역</dt>
					<dd><select name="" id="" class="select">
							<option value="전체">전체</option>
							<option value="지역">지역</option>
							<option value="지역">지역</option>
							<option value="지역">지역</option>
							<option value="지역">지역</option>
						</select>
					</dd>
				</dl>
				<a href="heritage_search_result.html" class="searhBtn">검색</a>
			</div>

			<div class="searchResultTab">
				<a href="heritage_search_result.html">문화재 검색 결과 <br />(1,234건)</a>
				<a href="#" class="selTab">관련 이미지 검색결과 <br />(1,123건)</a>
			</div>


			<div class="board imgList"><!-- board -->
				<ul>
					<li><a href="#popImg"><img src="./images/@pic04.jpg" alt=""> <span>봄 숭례문(2015)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic05.jpg" alt=""> <span>숭례문(1882)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic06.jpg" alt=""> <span>남대문 시장과 숭례문(1904)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic07.jpg" alt=""> <span>숭례문과 숭례문 성곽(1904)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic08.jpg" alt=""> <span>전찻길이 놓인 숭례문(1905)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic09.jpg" alt=""> <span>일저 강점기 숭례문(1915년 추정)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic10.jpg" alt=""> <span>10환 지폐 전면에 담긴 숭례문<br />(1953~1962년 발행권)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic04.jpg" alt=""> <span>봄 숭례문(2015)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic05.jpg" alt=""> <span>숭례문(1882)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic06.jpg" alt=""> <span>남대문 시장과 숭례문(1904)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic07.jpg" alt=""> <span>숭례문과 숭례문 성곽(1904)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic08.jpg" alt=""> <span>전찻길이 놓인 숭례문(1905)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic09.jpg" alt=""> <span>일저 강점기 숭례문(1915년 추정)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic10.jpg" alt=""> <span>10환 지폐 전면에 담긴 숭례문<br />(1953~1962년 발행권)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic04.jpg" alt=""> <span>봄 숭례문(2015)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic05.jpg" alt=""> <span>숭례문(1882)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic06.jpg" alt=""> <span>남대문 시장과 숭례문(1904)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic07.jpg" alt=""> <span>숭례문과 숭례문 성곽(1904)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic08.jpg" alt=""> <span>전찻길이 놓인 숭례문(1905)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic09.jpg" alt=""> <span>일저 강점기 숭례문(1915년 추정)</span></a></li>
					<li><a href="#popImg"><img src="./images/@pic10.jpg" alt=""> <span>10환 지폐 전면에 담긴 숭례문<br />(1953~1962년 발행권)</span></a></li>
				</ul>
			</div><!-- //board -->

			<div class="paging">
				<span class="prev"><a href="#" target="_self">이전 보기</a></span>
				<a href="#" class="now" target="_self">1</a>
				<a href="#" target="_self">2</a>
				<a href="#" target="_self">3</a>
				<a href="#" target="_self">4</a>
				<a href="#" target="_self">5</a>
				<span class="next"><a href="#" target="_self">다음 보기</a></span>
			</div>

		</article>
	</section>

	<!--// subwrap -->

	<!-- footer -->
	<footer id="footer">
		<h1><img src="./images/main/logo_footer.png" alt="천재교육"></h1>
		<span>(주)천재교육</span>
		<span>대표 : 최용준</span>
		<span>주소 : 서울특별시 금천구 가산로 9길 54</span><br />
		<span>고객만족센터 : 1577-7609</span>
		<span>사업자등록번호 : 119-81-19350</span><br />
		<span>통신판매신고번호 : 제 18-439호</span>
		<span>부가통신사업신고번호 : 016712</span><br />
		<span class="copyright">COPYRIGHT ⓒ 2015 BY CHUNJAE CO.LTD  ALL RIGHTS RESERVED.</span>
	</footer>
	<!-- footer -->
</section>
<!--// wrap -->

<div id="mask"></div>
<div id="popImg" class="popup">
	<div id="bigImg">
		<a href="#" class="prevBtn"><span><img src="./images/sub/btn_prev.png" alt=""></span></a>
		<p class="caption">봄 숭례문(2015)</p>
		<figure><img src="http://www.cha.go.kr/unisearch/images/national_treasure/2685609.jpg" alt=""></figure>
		<a href="#" class="downloadBtn">이미지 저장</a>
		<a href="#" class="nextBtn"><span><img src="./images/sub/btn_next.png" alt=""></span></a>
	</div>

</div>

<script type="text/javascript">
<!--
	//레이어팝업 이미지
	$("#mask").hide();
	$(document).ready(function() {
		$(".imgList ul li a").on({
			click : function(e) {
				e.preventDefault();
				$($(this).attr("href")).css({display:"block"});
				$("#mask").css({display:"block"});
			}
		});

		$(".popup .imgPopClose, #mask").on({
			click : function(e) {
				e.preventDefault();
				$(".popup").css({display:"none"});
				$("#mask").css({display:"none"});
			}
		});
	});
//-->
</script>

</body>
</html>